@import '../vars.scss';

.branch-tile{
    width:15rem;
    height:15rem;
    border-radius: 0.7rem;
    margin-top: 2rem;
    box-shadow: 0 0 6px rgb(106, 106, 106);
    overflow: hidden;
    cursor: pointer;
    &:hover {
        box-shadow: 0 0 9px rgb(106, 106, 106);
    }

    p{
        margin: 0;
    }

    svg{
        border-radius: 0;
        &:hover{ 
            background: transparent;
        }
    }

    .content{
        display: flex;
        justify-content: center;
        height:75.5%;
    }

    .footer{
        display: flex;
        justify-content: space-between;
        background-color: rgb(206, 206, 206);
        padding: 0.5rem;
    }
}