@import '../vars.scss';

.table-container{
    & th,td{
        padding: 0.5rem 2rem 0.5rem 2rem;
        background-color: $header-background;
        color: white;
    }
    & td{
        background-color: rgb(213, 211, 211);
        color:black;
    }
}
.avatar-container{
    display: flex;
    gap: 0.4rem;
}
