@import '../vars.scss';


::-webkit-scrollbar {
    width: 8.5px;
}

::-webkit-scrollbar-track {
    border: solid 1px white;
    box-shadow: 0 0 2.5px 2.5px white inset;
}

::-webkit-scrollbar-thumb {
    background: rgb(160, 152, 183);
    border-radius: 4px;
}

table{
    border-collapse: collapse;
}
.table-container{
    margin-top: 2rem;
    margin-left:4rem;
    margin-right: auto;
    max-height: 28rem;
    overflow-y: auto;

    th,td{
        padding: 0.7rem 1.3rem; 
    }

    th{
        background-color: $primary-color;
        color: white;
        position: sticky;
        top:0;
        z-index: 1;
    }

    td{
        background-color: transparent;
        color:black;

        svg{
            border-radius: 5px;
            &:hover{
                background-color:rgb(152, 149, 149); 
            }
        }

        &.more{
            padding: 0.5rem 0.9rem;
        }
    }

    tr{
        cursor: pointer;
        background-color: rgb(237, 237, 237);
        transition: ease-in-out;
        &:hover{
            background-color: rgb(210, 210, 209);
        }
    }
}

.avatar-container{
    display: flex;
    gap: 0.4rem;
}
