.grid-container {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(296px, 1fr));
    padding: 1.5rem;
    max-height: 69vh;
    overflow-y: auto;
}