$primary-font: 'Open Sans', sans-serif;
$primary-color:#3171e0;
$primary-hover-color: #4d81db;
$header-background: rgb(122, 85, 232);
$blue:#5dbae1;
$red:rgb(241, 76, 58);
$grey:#b4b0b0;
$green:#85dd4a;

