@import '../vars.scss';

.header{
    height: 2rem;
    position: relative;
    display: flex;
    align-items: center;
    margin: 0;
    background-color:$primary-color;
    color: white;
    padding: 1rem 1rem 1rem 1rem;
    & h1{
        margin: 0;
        font-family:$primary-font;
        margin-left: 0.5rem;
        font-size: 1.7rem;
    }
    & svg{
        border-radius: 0;
        padding: 5px;
         &:hover{
            background: transparent;
         }
    } 
}

.header-left{
    margin-left: auto;
}

@media only screen and (max-width: 380px) {
    h1{
        display: none;
    }
}