@import '../vars.scss';

.panel-container{
    visibility: hidden;
}

.right-panel{
    position: absolute;
    height: calc(100vh - 70px);
    right:0;
    width:18rem;
    z-index: 10;
    background-color: white;
    box-shadow: 0 0 10px rgb(156, 155, 155);

    & p{
        font-weight: 600;
        font-size: 14px;
        font-family:$primary-font;
        padding-left: 2.5rem;
        line-height: 24px;
        letter-spacing: 0.15px;
    }
    svg {
        cursor: pointer;
        padding: 0.4rem;
        border-radius: 5px;

        &:hover{
            background-color: rgb(224, 221, 221);
        }
    }
}
.rightpanel-toolbar{
    display: flex;
    gap:1rem;
    align-items: center;
    justify-content:space-around;
    padding: 0.4rem;

    & button{
        cursor: pointer;
        background-color:$red;
        color: white;
        border-radius: 5px;
        border:none;
        padding: 0.4rem 0.5rem 0.4rem 0.5rem;
    }
    & svg {
        cursor: pointer;
        padding: 0.4rem;
        border-radius: 5px;
    }
    & svg:hover{
        background-color: rgb(224, 221, 221);
    }

}
.panel-img {
    height:9rem;
    width:9rem;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1rem;
    & img{
        width:100%;
        height:100%;
    }
}

.show{
    visibility: visible;
}