@import '../vars.scss';

.container{
    position: relative;
    display: flex;
}

.rightpanel-container{
    transition: 0.5s all ease-in-out;
    width:0;
    &.open{
        width:18rem;
    }
}

.spinner {
    width: 100%;
    height: max-content;
    margin-top:12.5rem;
    display: flex;
    align-items: center;
}

.loader {
    width: 48px;
    height: 48px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid $grey;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border-bottom: 4px solid $primary-color;
    border-left: 4px solid transparent;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}