@import '../vars.scss';

.create-button{
    display: none;
    & svg{
        &:hover{
            background: transparent;
        }
    }
}

.tool-bar{
    position: relative;
    background-color: rgb(211, 210, 210);
    height:2.5rem;
    padding: 0.5rem;
    display: flex;
    align-items: center; 
}

select{
    font-family: $primary-font;
}

.tool-bar-left{
    position: relative;
    margin-right: auto;
    margin-left: 4rem;

    select{
        cursor: pointer;
        font-family: $primary-font;
        font-size: 1rem;
        padding: 0.5rem;
        border-radius: 5px;
    }
    
    option{
        cursor: pointer;
    }

    .dropdown-button{
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: $primary-font;
        padding: 0 1rem;
        cursor: pointer;
    
        &:hover{
            background-color: rgb(183, 184, 185);
        }
    }

    .listitem{
        padding: 0.5rem 1.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: white;
        width: 9rem;
        border-bottom: solid 1px rgb(212, 208, 208);
        cursor: pointer;
        & svg {
            padding: 0;
        }
        &:hover{
            background-color: rgb(213, 211, 211);
        }
    }

    svg:hover{
        background: transparent;
    }
}

.branches-dropdown-list {
    visibility: hidden;
    position: absolute;
    z-index: 10;
}

.show {
    visibility: visible;
}


.tool-bar-right{
    margin-left: auto;
    margin-right: 3rem;
    position: relative;
    display: flex;
    gap:1rem;
    align-items: center;

    & button{
        border: none;
        border-radius: 5px;
        background-color: $primary-color;
        color: white;
        cursor: pointer;
        padding: 0.7rem;

        &:hover{
            background-color: $primary-hover-color;
        }
    }
    & svg {
        padding: 0.5rem;
        border-radius: 5px;
        &:hover {
            cursor: pointer;
            background-color: rgb(161, 158, 158);
        }
    }
    .filter-button-container{
        position: relative;
    }
    .filter-dropdown{
        visibility: hidden;
        position: absolute;
        display: flex;
        box-shadow: 0 0 5px rgb(106, 106, 106);
        border-radius: 5px;
        z-index:4;
        background-color: white;
        top:3rem;
        right:-2rem;
        width:15rem;
    }
    .filter-category-container{
        width:50%;
    }
    .filter-category{
        padding: 0.1rem 1rem;
        cursor: pointer;
    }
    .filter-option{
        padding: 0.2rem 1rem;
    }
    .selected{
        background-color: rgb(186, 185, 185);
    }
    .show{
        visibility: visible;
    }
    .dot{
        background-color: $primary-color;
        position: absolute;
        width:0.4rem;
        height:0.4rem;
        top:0.1rem;
        right:0.1rem;
        border-radius: 50%;
    }
}

.search{
    display: flex;
    border: solid 2px grey;
    border-radius: 2rem ;
    width:18rem;
    input{
        background: transparent;
        padding: 0.5rem 1rem;
        border-radius: 2rem 0 0 2rem;
        border: none;
        width:80%;
    }
    svg{
        background-color: rgb(175, 173, 173);
        border-radius: 0 2rem 2rem 0;
    }
}


@media only screen and (min-width: 768px) {
    .toolbar .tool-bar-right {
        margin-right: 0.5rem;
    }
    .tool-bar-left{
        margin-left: 1rem;
    }
    .create-button {
        display: block;
    }
}